@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --font-color: rgb(224, 223, 223);
    --main-color: rgb(62, 62, 62);
    --background-color: rgb(47, 45, 45);
    --border-color: rgb(128, 127, 127);
    --button-color: rgb(221, 91, 48);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

/* 
 * navbar
 */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--main-color);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350px;
    height: 50px;
    position: relative;
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

.icon {
    margin-left: 10px;
    color: var(--font-color);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links * {
    padding: 10px;
    color: var(--font-color);
    text-decoration: none;
}

.links *:hover {
    text-decoration: underline;
    color: white;
}

/*
 * pages
 */
 .home-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.home-page * {
    max-width: 200px;
}

.task-page {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100vw;

    border: 1px solid black;
}

/*
 * task
 */
 .task-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .task-form-container {
    display: grid;
    place-items: center;
    width: 650px;
    height: 100px;
    border-radius: 4px;

    border: 1px solid black;
}

.task-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-color);
    border-radius: 4px;

    background-color: var(--main-color);
}

.task-form-container form input {
    width: 90%;
    height: 30%;
    border: none;
    border-radius: 4px;
    background-color: var(--font-color);
}

.task-form-container form button {
    width: 90%;
    height: 30%;
    border: none;
    border-radius: 4px;
    background-color: var(--button-color);
    color: var(--font-color);
}

.uncompleted-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 50px;
    

    border: 1px solid black;
}

.completed-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 50px;
    border-radius: 4px;

    border: 1px solid black;
}