@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --font-color: rgb(49, 49, 49);
    --main-color: rgb(255, 239, 239);
    --secondary-color: rgb(255, 239, 239);
    --border-color: rgb(128, 127, 127);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
}

/* 
 * Navbar
 */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--main-color);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350px;
    height: 50px;
    position: relative;
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

.icon {
    margin-left: 10px;
    color: var(--font-color);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links * {
    padding: 10px;
    color: var(--font-color);
    text-decoration: none;
}

.links *:hover {
    text-decoration: underline;
    color: white;
}

/*
 * pages
 */
 .home-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.home-page * {
    max-width: 200px;
}

.task-page-container {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100vw;

    border: 1px solid black;
}

.task-elements {
    display: grid;
    place-items: center;
    width: 675px;

    border: 1px solid black;
}

.task-form-container {
    display: grid;
    place-items: center;
    width: 675px;

    border: 1px solid black;
}